{% extends 'base.html' %}

 {% block title %} Performance {% endblock %}

 {% block main %}
 <form method='post' id='noapproval'action='{% url 'admin_approval' pk %}'>{% csrf_token %}</form>
   <form method='post' id='approval'>
 {% csrf_token %}
</form>

<h4 class="ui horizontal divider header"><i class="bar chart icon"></i> 申請内容 </h4>
<table class="ui definition table">
  <tbody>
    <tr>
      <td class="two wide column">ID</td>
      <td>{{form_id.request_id}}</td>
    </tr>
    <tr>
      <td>sosikimei</td>
      <td>{{form_customer.organization_name}} </td>
    </tr>
    <tr>
      <td>name</td>
      <td>{{form_customer.name}} </td>
    </tr>
    <tr>
      <td>tellnumber</td>
      <td>{{form_customer.tell_number}} </td>
    </tr>
    <tr>
      <td>email</td>
      <td>{{form_customer.email}} </td>
    </tr>
    <tr>
      <td>入館予定日時</td>
      <td>{{form_request.scheduled_entry_datetime}} </td>
    </tr>
    <tr>
      <td>退館予定日時</td>
      <td>{{form_request.scheduled_exit_datetime}}</td>
    </tr>
  </tbody>
</table>
<button class="ui blue button" value = 'approval' form = 'approval' onclick='return confirm("承認しますがよろしいですか？");'form = 'send'><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">承認 </font></font></button>
<button class="ui red button" value = 'noapproval' form = 'noapproval' onclick='return confirm("承認しませんがよろしいですか？");'form = 'send'><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">未承認 </font></font></button>
 {% endblock %}

