{% extends 'base.html' %}

 {% block title %} Performance {% endblock %}

 {% block main %}
 <form method='post' id='approval'>
   {% csrf_token %}
 </form>

<h4 class="ui horizontal divider header"><i class="bar chart icon"></i> 申請内容 </h4>
<table class="state">
  <tbody>
    <tr>
      <th>ID</th>
      <td>{{form_id.request_id}}</td>
    </tr>
    <tr>
      <th>組織名</th>
      <td>{{form_customer.organization_name}} </td>
    </tr>
    <tr>
      <th>名前</th>
      <td>{{form_customer.name}} </td>
    </tr>
    <tr>
      <th>電話番号</th>
      <td>{{form_customer.tell_number}} </td>
    </tr>
    <tr>
      <th>メールアドレス</th>
      <td>{{form_customer.email}} </td>
    </tr>
    <tr>
      <th>申請日時</th>
      <td>{{form_request.request_datetime}} </td>
    </tr>
    <tr>
      <th>許可済み</th>
      <td>{{form_request.approval}}</td>
    </tr>
    <tr>
      <th>パスワード</th>
      <td>{{form_request.password}} </td>
    </tr>
    <tr>
      <th>入館予定日時</th>
      <td>{{form_request.scheduled_entry_datetime}} </td>
    </tr>
    <tr>
      <th>退館予定日時</th>
      <td>{{form_request.scheduled_exit_datetime}}</td>
    </tr>
    <tr>
      <th>入館日時</th>
      <td>{{form_request.entry_datetime}} </td>
    </tr>
    <tr>
      <th>退館日時</th>
      <td>{{form_request.exit_datetime}}</td>
    </tr>
    <tr>
      <th>申請目的</th>
      <td>{{form_request.purpose_admission}}</td>
    </tr>
  </tbody>
</table>

{{ form_massage.as_hidden }}
<br>
<form>
  <button class="btn btn-primary" name = 'approval' form = 'approval' onclick='return confirm("承認しますがよろしいですか？");'>承認 </button>
  <button class="btn btn-danger" name = 'noapproval' form = 'approval' onclick='return confirm("拒否しますがよろしいですか？");'>拒否</button>
</form>
<br>
<form action="{% url  'admin_list' %}">
  <button class='btn btn-secondary' type='submit' name='next' value='back'>戻る</button>
</form>
 {% endblock %}

