{% extends "base.html" %}
{% block title %} List {% endblock %}

{% block main %}
<table>
    <thead>
        <tr>
            <th>申請日時</th>
            <th>組織名 and 氏名</th>
            <th>入館予定日時</th>
            <th>入館実績日時</th>
            <th>退館予定日時</th>
            <th>退館実績日時</th>
        </tr>
    </thead>
    <tbody>
    {% for request in object_list %}
        <tr>
            <td scope = "row"> {{ request.request_datetime }}</td>
            <td>{{ request.email }}</td>
            <td>{{ request.scheduled_entry_datetime }}</td>
            <td>{% if request.entry_datetime == None %} -- {% endif %}
                {% if request.entry_datetime != None %} {{ request.entry_datetime}} {% endif %}</td>
            <td>{{ request.scheduled_exit_datetime }}</td>
            <td>{% if request.exit_datetime == None %} -- {% endif %}
                {% if request.exit_datetime != None %} {{ request.exit_datetime}} {% endif %}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}

