{% extends "base.html" %}

 {% block title %} Add {% endblock %}

 {% block main %}
 <form action="{% url 'add' %}" method="post">
 {% csrf_token %}
 
 <body>
 <div class='countainer'>
   <div class='header'>
     申請情報を入力してください
   </div>
   <table class="table">
  <!-- <thead>
    <tr><th><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">名前</font></font></th>
    <th><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">年齢</font></font></th>
    <th><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">ジョブ</font></font></th>
  </tr></thead> -->
  <tbody>
    <tr>
      <td data-label="Name"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">組織名</font></font></td>
      <td data-label="IN"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
        <div class="ui input"><input type="text" name='organization_name' placeholder="(例)山梨大学"></div></font></font></td>
    </tr>
    <tr>
      <td data-label="Name"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">氏名</font></font></td>
      <td data-label="IN"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
        <div class="ui input"><input type="text" name='name' placeholder="(例)山梨太郎"></div></font></font></td>
    </tr>
    <tr>
      <td data-label="Name"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">電話番号</font></font></td>
      <td data-label="IN"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
        <div class="ui input"><input type="text" name='tell_number' placeholder="(例)060-1111-4444"></div></font></font></td>
    </tr>
    <tr>
      <td data-label="Name"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">メールアドレス</font></font></td>
      <td data-label="IN"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
        <div class="ui input"><input type="text" name='email' placeholder="(例)aaa@bbb.com"></div></font></font></td>
    </tr>
    <tr>
      <td data-label="Name"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">入館日時</font></font></td>
      <td data-label="IN"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
        <div class="ui input"><input type="text" name='scheduled_entry_datetime' placeholder="(例)山梨大学"></div></font></font></td>
    </tr>
    <tr>
      <td data-label="Name"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">退館日時</font></font></td>
      <td data-label="IN"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
        <div class="ui input"><input type="text" name='scheduled_exit_datetime' placeholder="(例)山梨大学"></div></font></font></td>
    </tr>
    <tr>
      <td data-label="Name"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">申請目的</font></font></td>
      <td data-label="IN"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
        <div class="ui input"><input type="text" name='purpose_admission' placeholder="(例)DB点検のため"></div></font></font></td>
    </tr>
  </tbody>
</table>

<!-- 
   <div class="ui input">
     組織名
    <input type="text" name='organization_name' placeholder="Search...">
  </div>
   氏名<input name='name'><br>
  
   電話番号<input name='tell_number'><br>
   メールアドレス<input name='email'><br>
   入館予定日時<input name='scheduled_entry_datetime'><br>
   退館予定日時<input name='scheduled_exit_datetime'><br>
   申請目的
   <input name='purpose_admission'><br>

  </div> -->
</body>
 <input type="submit"/>
 </form>
 {% endblock %}

