{% extends "base.html" %}

 {% block title %} Add {% endblock %}

 {% block main %}
 <form method='switch' action id='switch'>{% csrf_token %}</form>
 
 <form method="post" id='send'>
{% csrf_token %}


 <body>

 <div class='countainer'>
   <div class='header'>
     申請情報を入力してください
   </div>
   <table class="table">
  <!-- <thead>
    <tr><th><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">名前</font></font></th>
    <th><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">年齢</font></font></th>
    <th><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">ジョブ</font></font></th>
  </tr></thead> -->
  <tbody>
    <tr>
      <td data-label="Name"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">組織名</font></font></td>
      <td data-label="IN"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
        <div class="ui input"><input type="text" name='organization_name' placeholder="(例)山梨大学"></div></font></font></td>
    </tr>
    <tr>
      <td data-label="Name"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">氏名</font></font></td>
      <td data-label="IN"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
        <div class="ui input"><input type="text" name='name' placeholder="(例)山梨太郎"></div></font></font></td>
    </tr>
    <tr>
      <td data-label="Name"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">電話番号</font></font></td>
      <td data-label="IN"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
        <div class="ui input"><input type="text" name='tell_number' placeholder="(例)060-1111-4444"></div></font></font></td>
    </tr>
    <tr>
      <td data-label="Name"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">メールアドレス</font></font></td>
      <td data-label="IN"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
        <div class="ui input"><input type="text" name='email' placeholder="(例)aaa@bbb.com"></div></font></font></td>
    </tr>
    <tr>
      <td data-label="Name"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">入館日時</font></font></td>
      <td data-label="IN"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
        <div class="ui input"><input type="datetime-local" name='scheduled_entry_datetime'></div></font></font></td>
    </tr>
    <tr>
      <td data-label="Name"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">退館日時</font></font></td>
      <td data-label="IN"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
        <div class="ui input"><input type="datetime-local" name='scheduled_exit_datetime'></div></font></font></td>
    </tr>
    <tr>
      <td data-label="Name"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">申請目的</font></font></td>
      <td data-label="IN"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
        <div class="ui input"><input type="text" name='purpose_admission' placeholder="(例)DB点検のため"></div></font></font></td>
    </tr>
  </tbody>
</table>
</body>
</form>

{% ifequal page 0 %}
<button class="ui blue button" form = 'send'>送信 </button>
<button class="ui red button" onclick='OnButtonClick();'form = 'switch'>切り替え </button>
</body>

{%endifequal%}

 {% endblock %}

