{% extends 'base.html' %}

 {% block title %} Performance {% endblock %}

 {% block main %}
 <form method='post'>
 {% csrf_token %}

<h4 class="ui horizontal divider header"><i class="bar chart icon"></i> 申請内容 </h4>
<table class="ui definition table">
  <tbody>
    <tr>
      <td class="two wide column">ID</td>
      <td>{{form_id.request_id}}</td>
    </tr>
    <tr>
      <td>sosikimei</td>
      <td>{{form_customer.organization_name}} </td>
    </tr>
    <tr>
      <td>name</td>
      <td>{{form_customer.name}} </td>
    </tr>
    <tr>
      <td>tellnumber</td>
      <td>{{form_customer.tell_number}} </td>
    </tr>
    <tr>
      <td>email</td>
      <td>{{form_customer.email}} </td>
    </tr>
    <tr>
      <td>入館予定日時</td>
      <td>{{form_request.scheduled_entry_datetime}} </td>
    </tr>
    <tr>
      <td>退館予定日時</td>
      <td>{{form_request.scheduled_exit_datetime}}</td>
    </tr>
  </tbody>
</table>

<button class="ui blue button" type = "submit/" value = 'hello' onclick='return confirm("本当に削除しますか？");'><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">entry</font></font></button>
<button class="ui red button" type = "subumit/"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">exit</font></font></button>
<!-- <input type='submit'/> -->
 </form>
 {% endblock %}

