{% load static %}
<!doctype html>
<html lang="ja">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% block title %} DB管理システム{% endblock %}</title>
	<link rel="stylesheet" type="text/css"
		href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css">
	<!-- <link rel="stylesheet" href="{% static "/bootstrap/css/bootstrap.min.css" %}"> -->
</head>

<body>
	<div class="countainer">
		<br>
		<nav class="nav" >
			<div class="ui header" style="margin: 0 auto">W社のデータベースセンター 利用申請</div>
		</nav>
		<br>
	</div>
	<div class="ui grid">
		<div class="four wide column">
			<div class="ui vertical menu">
				<div class="item">
					<div class="ui transparent icon input">
						<input type="text" placeholder="ページ内を検索(未実装)">
						<i class="search icon"></i>
					</div>
				</div>
			</div>
		</div>
		<div class="twelve wide stretched column">
			{% block main %}{% endblock %}
			
		</div>
	</div>
</body>

</html>