{% load static %}
<!doctype html>
<html lang="ja">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% block title %} DB管理システム{% endblock %}</title>
	<!-- <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css"> -->
	<link rel="stylesheet" href="{% static "/bootstrap/css/bootstrap.min.css" %}">
	<link rel="stylesheet" href="{% static '/management_system/style_add.css' %}">

</head>

{% if messages %}
<div class="container" style="margin-top:1rem;">
    <div class="notification is-info">
        <!-- <button class="delete" type="button"></button> -->
        {% for message in messages %}
		<div class="alert alert-danger" role="alert">
			{{ message }}
		</div>
        {% endfor %}
    </div>
</div>
{% endif %}

<body>
	<div class="countainer">
		<br>
			<h3>W社のデータベースセンター 管理システム</h3>
		<br>
	</div>
	<center>
	<div class="ui grid">
		<div class="twelve wide stretched column">
			{% block main %}{% endblock %}
		</div>
	</div>
	</center>
</body>

</html>
